---
layout: layout
---

<%= partial("top_navbar", :locals => { :blog_active => 'active'}) %>

<div id="no-sidenav-container" class="container">

  <section>
    <div class="page-header">
      <h2>Blog</h2>
    </div>
    <% n_articles = 0 %>
    <% if I18n.locale.to_s == 'pt' %>
      <% date_format = "%d/%m/%Y" %>
    <% else %>
      <% date_format = "%b %d, %Y" %>
    <% end %>
    <% blog.articles.each do |article| %>
      <% if article.lang.to_s == I18n.locale.to_s %>
        <p class="lead"><time><%= article.date.strftime(date_format) %></time> - <a href="<%= article.url %>"><%= article.title %></a></p>
        <% n_articles += 1 %>
      <% end %>
    <% end %>
    <% if n_articles == 0 %>
      <p class="lead"><%= I18n.t("blog.no_posts_yet") %></p>
    <% end %>
    <% if I18n.locale.to_s == 'en' %>
      <p class="lead"><a href="/pt/blog">Clique aqui para ver outros blog posts escritos em português.</a></p>
    <% else %>
      <p class="lead"><a href="/blog">Click here to list other blog posts written in English.</a></p>
    <% end %>
    <% if I18n.locale.to_s == 'en' and false %>
    <hr></hr>
    <div class="row">
      <div class="span5">
        <b>If you liked reading the posts above and want to see more like these, please consider making a small donation. You can choose the amount and also make a suggestion for future post topics in the PayPal checkout.</b>
      </div>
      <div class="span5">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="H76SHMUF8WCLN">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
    </div>
    <% else %>
    <% end %>
  </section>
  
</div>
