---
layout: layout
---

<%= partial("top_navbar", :locals => { :blog_active => 'active'}) %>

<div id="no-sidenav-container" class="container">

  <section>
    <div class="page-header">
      <h2>Blog</h2>
    </div>
    <% n_articles = 0 %>
    <% if I18n.locale.to_s == 'pt' %>
      <% date_format = "%d/%m/%Y" %>
    <% else %>
      <% date_format = "%b %d, %Y" %>
    <% end %>
    <% blog.articles.each do |article| %>
      <% if article.lang.to_s == I18n.locale.to_s %>
        <p class="lead"><time><%= article.date.strftime(date_format) %></time> - <a href="<%= article.url %>"><%= article.title %></a></p>
        <% n_articles += 1 %>
      <% end %>
    <% end %>
    <% if n_articles == 0 %>
      <p class="lead"><%= I18n.t("blog.no_posts_yet") %></p>
    <% end %>
  </section>
  
</div>
