---
layout: layout
---

<%= partial(:top_navbar, :locals => { :home_active => "active"}) %>

<div id="no-sidenav-container" class="container">

  <section>
    <div class="page-header">
      <h1><%= I18n.t('home.home_header') %></h1>
    </div>

    <%= partial "about_partial" %>

  </section>


  <section>
    <div class="page-header">
      <h2><%= I18n.t('home.news') %></h2>
    </div>
    <% n_articles = 0 %>
    <% if I18n.locale.to_s == 'pt' %>
      <% date_format = "%d/%m/%Y" %>
    <% else %>
      <% date_format = "%b %d, %Y" %>
    <% end %>
    <% blog.articles.each do |article| %>
      <% if article.lang.to_s == I18n.locale.to_s %>
        <p class="lead"><time><%= article.date.strftime(date_format) %></time> - <a href="<%= article.url %>"><%= article.title %></a></p>
        <% n_articles += 1 %>
        <% if n_articles >= 2 %>
          <% break %>
        <% end %>
      <% end %>
    <% end %>
    <% if (n_articles == 0) and true %>
      <p class="lead"><%= I18n.t('home.no_news_yet') %></p>
    <% end %>
  </section>
  
</div>
